.myColorButton>.sapMBtnInner {
    background-color:#324759 !important;
    border-color: #324759 !important;
}

.myColor {
    background-color:#324759 !important;
    border-color: #324759 !important;
}

.myColor2 {
    color:white !important;
}